<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Snippets</title>
</head>
<body>
    <!-- Main content area -->
    <div class="container-fluid">
        <div class="row">
            <!-- Vertical navbar -->
            <%- include ('partials/navbar.ejs') %>
            
            <!-- Content area -->
            <div class="col mt-3">
                <form action="/events/<%= event.calendarID %>/" method="POST">
                    <div class="row">
                        <div class="col col-md-8 title-col">
                            <input type="text" placeholder="Title" id="titleNew" class="input input-title" name="title" value="<%= event.title %>">
                        </div>
                        <div class="col justify-content-end d-flex">
                            <button type="submit" class="btn btn-primary me-2 notes-btn">Save</button>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col">
                            <input type="text" placeholder="Description" id="descriptionNew" class="input mt-3 input-description" name="description" value="<%= event.description %>">
                        </div>
                        <div class="col"></div> <!-- Empty col so the previous col takes only 50% space -->
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="datetime-local" placeholder="start" id="startNew" class="input mt-3 input-start w-100 date-box" name="startDateTime" value="<%= event.startDateTime %>">
                        </div>
                        <div class="col">
                            <input type="datetime-local" placeholder="end" id="endNew" class="input mt-3 input-end w-100 date-box" name="endDateTime" value="<%= event.endDateTime %>">
                        </div>
                    
                    <!-- check if isAllDay (true or false) -->
                        <div class="col mt-3 checkbox-wrapper-2 align-middle">
                            <input type="checkbox" id="allDayNew" class="allDay-input" name="isAllDay" value="<%= event.isAllDay %>">
                            <label for="allDay" class="m-1">All Day</label>
                        </div>
                        <div class="col"></div>  <!-- Empty col so the previous col takes only 50% space -->
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- location input -->
                            <input type="text" placeholder="Location" id="locationNew" class="input mt-3 input-location" name="location" value="<%= event.location %>">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- CSS Styles -->
    <style>
        .title-col {
            width: 50%;
        }
        .input-title {
            font-size: xx-large;
            width: 100%;
            border: 0px;
            border-bottom: 2px solid black;
            transition: all 0.2 ease;
        }
        .input-title:focus {
            outline: none !important;
            border-bottom: 2px solid #8a00ff;
        }
        .input-description {
            width: 100%;
            border: 0px;
            border-bottom: 2px solid black;
            transition: all 0.2 ease;
        }
        .input-description:focus {
            outline: none !important;
            border-bottom: 2px solid #8a00ff;
        }
        .date-box {
            border: 2px solid black;
            transition: all 0.2 ease;
        }
        .date-box:focus {
            outline: none !important;
            border: 2px solid #8a00ff;
        }
        .input-location {
            width: 20%;
            border: 0px;
            border-bottom: 2px solid black;
            transition: all 0.2 ease;
        }
        .input-location:focus {
            outline: none !important;
            border-bottom: 2px solid #8a00ff;
        }
        .notes-btn {
            display: flex;
            width: 100px;
            height: 52px;
            align-items: center;
            justify-content: center;
            letter-spacing: 1px;
            cursor: pointer;
            border: none;
            font-size: large;
            background: linear-gradient(to bottom, #a352aa, #8a00ff);
            transition: all 0.5s ease;
        }
        .force-col {
            position: absolute;
            margin-left: 170px;
        }
    </style>
</body>
</html>
